.margin-contaier{
  max-width: 1400px;
  margin: 0 auto;
}

.btn{
  background: var(--cor-0);
  color: var(--cor-14);
  width: 150px;
  padding: 10px;
  font-weight: 400;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  font-size: 1.25rem;
}
@media (max-width: 550px){
  .btn{
    width: 135px;
  }
}
@media (max-width: 506px){
  .btn{
    width: 125px;
  }
}
@media (max-width: 476px){
  .btn{
    width: 110px;
  }
}
@media (max-width: 436px){
  .btn{
    width: 100px;
  }
}
@media (max-width: 400px){
  .btn{
    width: 90px;
  }
}
@media (max-width:367px){
  .btn{
    width: 70px;
  }
}